vti_encoding:SR|utf8-nldata/static_files/filelist.xml:data/static.htmdata/interactive_files/filelist.xml:data/interactive.htmmailto\:karl.s@home.com:introduction.htm matsproc.htm abstract.htm data.htm acknowledgements.htm index.htm analysis-conclusion.htm logbibliography.htmhttp\://www.marietta.edu/~biol/introlab/biofuel.pdf:logbibliography.htmhttp\://officeupdate.microsoft.com/office/redirect/fromoffice9/msowcpub.htm:data/interactive.htmfile\:c\:\\download\\latebob\\office 2000 disk 1\\msowc.cab:data/interactive.htmclsid\:0002e510-0000-0000-c000-000000000046:data/interactive.htmmat-proc/material-procedure_files/editdata.mso:mat-proc/material-procedure.htmhttp\://www.science.smith.edu/departments/biology/bio111/labmanual/06yeast.htm:logbibliography.htmhttp\://www.chemcraft.net/rdenv.html:logbibliography.htm