ruby
	{ruby-align:left;}
.style0
	{text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Verdana;
	border:none;}
.font0
	{color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Verdana;}
.font2
	{color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:italic;
	text-decoration:none;
	font-family:Verdana;}
td
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Verdana;
	text-align:general;
	vertical-align:bottom;
	border:none;
	white-space:nowrap;}
.xl24
	{text-align:center;}
.xl25
	{text-align:left;}
.xl26
	{font-weight:700;
	text-align:center;}
.xl27
	{font-weight:700;}
.xl28
	{font-size:14.0pt;
	text-align:left;}
.xl29
	{font-weight:700;
	text-align:left;}
.xl30
	{text-align:center;
	background:#FF99CC;}
.xl31
	{text-align:center;
	background:#CCFFCC;}
.xl32
	{text-align:left;
	background:#CCFFCC;}
.xl33
	{text-align:left;
	background:#FF99CC;}
.xl34
	{text-align:center;
	background:#FFFF99;}
.xl35
	{background:#FF99CC;}
