vti_encoding:SR|utf8-nl
vti_author:SR|?
vti_cachedlinkinfo:VX|S|leabane.gif S|learulee.gif S|leabul1e.gif S|leabul2e.gif S|leabul3e.gif S|leahorzbtnne.gif S|leahorzbtnhe.gif S|leahorzbtnse.gif S|leavertbtnne.gif S|leavertbtnse.gif S|leavertbtnhe.gif S|leahomebtnne.gif S|leahomebtnhe.gif S|leahomebtnse.gif S|leanextbtnne.gif S|leanextbtnhe.gif S|leanextbtnse.gif S|leaprevbtnne.gif S|leaprevbtnhe.gif S|leaprevbtnse.gif S|leaupbtnne.gif S|leaupbtnhe.gif S|leaupbtnse.gif
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_timecreated:TR|21 Sep 1998 15:31:13 -0700
vti_filesize:IX|2132
vti_syncwith_members.tripod.com\:80/chibichibimonkey:TR|21 Sep 1998 15:31:13 -0700
vti_modifiedby:SR|?
vti_cacheddtm:TX|21 Sep 1998 15:31:14 -0700
vti_backlinkinfo:VX|
vti_cachedhasbots:BR|false
vti_extenderversion:SR|3.0.2.1330
vti_timelastmodified:TR|21 Sep 1998 15:31:13 -0700
