vti_encoding:SR|utf8-nl
vti_httpdversion:SX|Microsoft-PWS-95/2.0
vti_longfilenames:IX|1
vti_restartmanual:IX|0
vti_timecreated:TR|21 Sep 1998 15:26:38 -0700
vti_oldestcompatibleversion:SR|2.0.0.0
vti_navbuttonhomelabel:SR|Home
vti_webservertype:SR|msiis
vti_textindexood:IR|1
vti_structto_members.tripod.com\:80/chibichibimonkey:TR|24 Sep 1998 21:49:49 -0700
vti_dependenciesood:IR|0
vti_copytimestamp_http\://members.tripod.com/ChibiChibiMonkey:TR|23 Feb 1999 15:54:35 -0800
vti_autorecalc:IX|1
vti_casesensitiveurls:IX|0
vti_extenderversion:SR|3.0.2.1330
vti_navbuttonprevlabel:SR|Back
vti_textextensions:SX|.*.txt.txt.bas.c.h.
vti_defaultcharset:SR|none
vti_missingoverlays:VX|
vti_themedefault:SR|leaves 111
vti_missingoverlaylabels:VX|
vti_welcomenames:VX|Default.htm
vti_hassearchbot:BR|true
vti_defaultlanguage:SR|en
vti_navbuttonuplabel:SR|Up
vti_htmlextensions:SX|.htm.htm.html.stm.html.stm.shtml.shtm.htx.asp.alx.asa.
vti_borderdefault:SR|tlb
vti_navbuttonnextlabel:SR|Next
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer
vti_title:SR|AP Biology Project
